*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: blue;
}
.banner{
    background-color: aliceblue;
}

main{
    background-color: red;
    padding: 10px 30px;
}
footer{
    background-color: gray;
}